.freebus-section{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
}

/* Card */

.scheme-card{
    background:#fff;
    border:1px solid #ececec;
    border-radius:16px;
    padding:30px;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.scheme-header{
    display:flex;
    align-items:center;
    gap:20px;
}

.scheme-icon{
    width:75px;
    height:75px;
    border-radius:50%;
    background:#eaf3ff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:34px;
}

.scheme-header h2{
    margin:0;
    color:#17386c;
    font-size:32px;
}

.subtitle{
    color:#777;
    margin:6px 0 12px;
}

.scheme-badge{
    display:inline-block;
    background:#dfeeff;
    color:#0b63ce;
    padding:8px 18px;
    border-radius:25px;
    font-size:14px;
    font-weight:600;
}

.scheme-description{
    margin-top:28px;
    line-height:1.8;
    color:#666;
    font-size:16px;
}

.scheme-info{
    margin-top:35px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.info-item{
    display:flex;
    gap:12px;
    align-items:center;
    border-radius: 12px;
    border: 1px solid orange;
}


.info-item span{
    font-size:26px;
}
.small-card{
    align-items: center;
    padding-top: 20px;
} 

.info-item h5{
    margin:0;
    color:#444;
    font-size:15px;
}

.info-item p{
    margin-top:4px;
    color:#777;
    font-size:14px;
}

/* Gallery */

.gallery-card{
    margin-top:35px;
    background:#fff;
    border:1px solid #ececec;
    border-radius:16px;
    padding:25px;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.gallery-heading h3{
    margin:0;
    color:#17386c;
}

.gallery-heading p{
    margin-top:5px;
    color:#777;
}

.gallery-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
}

.gallery-item{
    overflow:hidden;
    border-radius:12px;
}

.gallery-item img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:12px;
    transition:.4s;
    cursor:pointer;
}

.gallery-item:hover img{
    transform:scale(1.05);
}

/* Tablet */

@media(max-width:992px){

.scheme-info{
    grid-template-columns:repeat(2,1fr);
}

.gallery-grid{
    grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media(max-width:576px){

.freebus-section{
    padding:0 15px;
}

.scheme-card,
.gallery-card{
    padding:20px;
}

.scheme-header{
    flex-direction:column;
    text-align:center;
}

.scheme-header h2{
    font-size:26px;
}

.scheme-info{
    grid-template-columns:1fr;
    gap:20px;
}

.gallery-grid{
    grid-template-columns:repeat(1,1fr);
    gap:12px;
}

.gallery-item img{
    height:auto;
}

}